xml/items/items.dtd

<!ELEMENT items (item*)>
<!ELEMENT item (id,seller_id,category,title,price,brand,stars,picurl,detail,stock,detail_url)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT seller_id (#PCDATA)>
<!ELEMENT category (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT brand (#PCDATA)>
<!ELEMENT stars (#PCDATA)>
<!ELEMENT picurl (#PCDATA)>
<!ELEMENT detail (#PCDATA)>
<!ELEMENT stock (#PCDATA)>
<!ELEMENT detail_url (#PCDATA)>

